@page "/counter"

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
    
    <h1>Counter</h1>
    
    <MudProgressLinear Color="Color.Info" Size="Size.Large" Value="@_currentCount" Class="my-7">
        <MudText Typo="Typo.subtitle1" Color="Color.Dark">
            <b>@_currentCount%</b>
        </MudText>
    </MudProgressLinear>
    
    <MudText Typo="Typo.h6">MudBlazor is @_text</MudText>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@_buttonText</MudButton>
</MudContainer>


@code {
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "#"),
        new BreadcrumbItem("Counter", href: null, disabled:true)
    };
    private int _currentCount = 0;
    private string _text { get; set; } = "????";
    private string _buttonText { get; set; } = "Click Me";

    void ButtonOnClick()
    {
        _currentCount += 10;
        if (_currentCount > 100)
        {
            _currentCount = 0;
        }
        
        _text = $"Awesome x {_currentCount}";
        _buttonText = "Click Me Again";
    }
}