@page "/diary/list"
@using MudExample.Data
@inherits MudExample.Components.Base.PageComponentBase

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudBreadcrumbs Items="@Breadcrumbs"></MudBreadcrumbs>
    
    @if (ViewModel.Diaries == null)
    {
    <p>
        <em>Loading...</em>
    </p>
    }
    else
    {
        <MudPaper Class="d-flex justify-end flex-grow-1 gap-4">
            <MudTextField T="string" Label="Title" @bind-Value="title"/>
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Search">@Localizer["LBL0043"]</MudButton>
        </MudPaper>
    <br/>
    <MudDataGrid Items="@ViewModel.Diaries" EditMode="DataGridEditMode.Cell" ReadOnly="true">
        <Columns>
            <HierarchyColumn T="Diary" />
            <PropertyColumn Property="m => m._id" Title="Id"/>
            <PropertyColumn Property="m => m.Title"/>
            <PropertyColumn Property="m => m.CreatedDate"/>
        </Columns>
        
        <ChildRowContent>
            <MudCard>
                <MudCardContent>
                    <MarkdownViewer Value="@context.Item.Content" />
                </MudCardContent>
            </MudCard>
        </ChildRowContent>
        <PagerContent>
            <MudDataGridPager T="Diary" />
        </PagerContent>
    </MudDataGrid>
    }
</MudContainer>
<MudOverlay @bind-Visible="ProgressVisible" DarkBackground="true" ZIndex="9999">
    <MudItem xs="12" Class="d-flex align-center">
        <MudProgressCircular Indeterminate="true" />
    </MudItem>
</MudOverlay>


@code {
    string title;
    [Inject] DiaryViewModel ViewModel { get; set; }

    protected override async Task OnInitViewData()
    {
        await ViewModel.GetDiaries();
    }

    async Task Search()
    {
        await ViewModel.GetDiaries(title);
    }
}