@page "/diary/new"
@using Blazored.TextEditor
@using MudExample.Data
@inherits PageComponentBase

<MudContainer>
    <MudPaper Class="d-flex justify-end flex-grow-1 gap-4">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save">@Localizer["LBL0041"]</MudButton>
    </MudPaper>
    <br/>
    <MudPaper>
        <MudTextField T="string" Label="Title" Required="true" RequiredError="Title is required!" @bind-Value="title"/>
    </MudPaper>
    <br/>
    <BlazoredTextEditor @ref="@QuillNative"
                        Placeholder="@Localizer["LBL0042"]"
                        EditorCssStyle="height: 500px;">
        <ToolbarContent>
        <span class="ql-formats">
            <select class="ql-font">
                <option selected=""></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected=""></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
        </span>
            <span class="ql-formats">
            <button class="ql-bold"></button>
            <button class="ql-italic"></button>
            <button class="ql-underline"></button>
            <button class="ql-strike"></button>
        </span>
            <span class="ql-formats">
            <select class="ql-color"></select>
            <select class="ql-background"></select>
        </span>
            <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
            <select class="ql-align">
                <option selected=""></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>
            <span class="ql-formats">
            <button class="ql-link"></button>
        </span>
        </ToolbarContent>
    </BlazoredTextEditor>    
</MudContainer>


@code {
    BlazoredTextEditor QuillNative;

    string QuillContent;

    bool mode = false;

    string title;
    
    [Inject] DiaryViewModel viewModel { get; set; }

    protected override void OnInitialized()
    {
        
    }

    public async void GetContent()
    {
        QuillContent = await this.QuillNative.GetContent();
        StateHasChanged();
    }
    public async void LoadContent()
    {
        await this.QuillNative.LoadContent(QuillContent);
        StateHasChanged();
    }

    public async void InsertImage()
    {
        await this.QuillNative.InsertImage("images/BlazorHelpWebsite.gif");
        StateHasChanged();
    }

    public async void InsertText()
    {
        await this.QuillNative.InsertText("Some Text");
        StateHasChanged();
    }

    async Task Save()
    {
        var content = await this.QuillNative.GetHTML();
        await viewModel.AddDiary(new Diary()
        {
            Title = this.title,
            Content = content,
        });
    }
}